* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nvb {
    background-color: #1B2C34;
    width: 100%;
    height: 18vh;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.ust {
    display: flex;
    justify-content: center;
    font-size: 12px;
    gap: 15px;
    padding: 15px 0;
    padding-right: 50px;
}
.alt{
width: 100%;
height: 60vh;
}

.inf {
    display: flex;
    font-size: 11px;
    gap: 15px;
}

.inf span {
    border-right: 1px solid gray;
    height: 13px;
}

.icon{
    font-size: 14px;
    display: flex;
    gap: 10px;
}

.motors {
    position: absolute;
    left: 13%;
    top: 9%;
}

.info2 {
    display: flex;
    justify-content: center;
    padding: 30px 30px;
    padding-right: 20%;
    gap: 40px;
}

.icon2 {
    display: flex;
    gap: 40px;
    position: absolute;
    right: 33%;
    top: 10%;
    font-size: 24px;
}

.item {
    position: absolute;
    right: 16%;
    top: 9%;
    background-color: #FF9501;
    width: 12%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ustsort{
display: flex;
width: 56%;
margin: 25px 14%;
gap: 45%;
border-bottom: 1px solid rgb(206, 203, 203);
padding: 30px 10px;
}
.sortby{
display: flex;
gap: 5px;
align-items: center;
gap: 9px;
}
.featur{
display: flex;
width: 56%;
justify-content: space-between;
margin: 30px 14%;
border-bottom: 3px solid #FF9501;
}
.masinlar{
display: flex;
width: 60%;
gap: 20px;
margin: 0 14%;
position: relative;
}
.qiymetvead{
 display: flex;
justify-content: space-between;
width: 60%;
}
.masininf{
position: absolute;
top: 37%;
left: 33%;
display: flex;
gap: 50px;
font-size: 12px;
text-align: center;
color: gray;
}
.masininf2{
display: flex;
position: absolute;
top: 62%;
left: 33%;
font-size: 12px;
gap: 40px;
}
.masininfo3{
display: flex;
position: absolute;
top: 88%;
left: 33%;
gap: 15px;
border-bottom: 2px solid rgb(205, 202, 202);
padding: 10px 0;
}
.search{
width: 17%;
height: 100vh;
position: absolute;
right: 11%;
top:27% ;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.selects{
width: 220px;
height: 40px;
background-color: rgb(227, 227, 227);
font-size: 15px;
color: rgb(89, 89, 89);
margin:9px 15px;
border: none;
outline: none;
}
.text{
width: 95px;
height: 35px;
border: none;
margin: 10px 13.7px;
padding: 0 5px;
background-color: #ECEFF3;
color:rgb(89, 89, 89) ;
outline: none;
}
.milage{
margin: 0 15px;
font-size: 14px;
}
.selects{
width: 220px;
height: 40px;
background-color: #ECEFF3;
font-size: 15px;
color: rgb(89, 89, 89);
margin:9px 15px;
border: none;
outline: none;
padding: 0 4px;
}
.btn{
width: 220px;
height: 55px;
margin: 5px 15px;
background-color: #FF9501;
color: white;
font-size: 20px;
font-weight: bold;
border: none;transition: 0.50s;
}
.selectprince{
width: 17%;
height: 25vh;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-top: 3.5px solid #1B2C34;
position: absolute;
top: 130%;
right: 11%;
}
.inputlar{
width: 100px;
height: 35px;
margin: 25px 13px ;
padding: 0 35px;
background-color: #ECEFF3;
border: none;
outline: none;
}
.inputr{
margin: 15px 18px;
width: 220px;
}
.end{
    margin-top: 40px;
    background-color: #1B2C34;
    width: 100%;
    height: 19vh;
    }
    .end1{
    padding: 25px 15%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(68, 67, 67);
    }
    .navend{
    display: flex;
    gap: 30px;
    color: #727171;
    font-size: 14px;
    }
    .end2{
    padding: 20px 15%;
    display: flex;
    justify-content: space-between;
    color: #727171;
    font-size: 15px;
    }
    .navend2{
        display: flex;
        gap: 30px;
        color: #727171;
        font-size: 14px;
        font-size: 19px;
        }
        .btn:hover{
background-color: #ffb44b;
        }
        .inventory{
            color: white;
            text-decoration: none;
            
}
        